<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>hello just for checking</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti
            ipsa quisquam dicta architecto alias, ut natus quos expedita amet
            quod animi facere totam neque laboriosam possimus delectus atque
            eius doloremque, sequi perspiciatis vero itaque? Vel accusantium
            ullam temporibus ducimus. Facere repudiandae ex eum itaque velit
            accusantium necessitatibus qui nemo soluta!</p>
        <button>click me</button>
    </body>
</html>